/* Start Variables */
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
  }
  /* End Variables */

  /* Start Global Rules */
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Open Sans", sans-serif;
  }
  ul {
    list-style: none;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  /* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

/* End Global Rules */
  

/* Start Components */
.section {
    padding:100px;

}
.main-heading {
    text-align: center;
   
    
}  
.main-heading h2 {
    font-weight: normal;
    margin-bottom: 70px;
    position: relative;
    font-size: 40px;
    text-transform: uppercase;

}

.main-heading h2::before {
    content: "";
    
    position:absolute;
    background-color: #333;
    width: 120px;
    height: 2px;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%);
    
}

.main-heading h2::after {
    content: "";
    position:absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #333;
    bottom: -35px;
    left: 50%;
    transform: translate(-50%);


    
}

.main-heading p {
    color:#a8a8a8;
    width:550px;
    max-width: 100%;
    margin: 0 auto 100px;


}

/* End Components */


/* Start header */
header {
    position:absolute;
    left: 0;
    width: 100%;
    z-index: 2;

}

header .container {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    min-height: 97px;
}

header .container::after {
    content: "";
    position:absolute;
    height: 1px;
    width: calc(100% - 30px);
    left: 15;
    bottom: 0;
    background-color: #a2a2a2;

}

header .logo img {
    height: 40px;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

header nav .toggle-menu {
    color: white;
    font-size: 22px;

}

@media (min-width:768px) {
    header nav .toggle-menu {
        display: none;
    }
    
}



header nav ul {
    display: flex;
    padding-left: 60px;
}

@media (max-width:768px) {
    header nav ul {
        display: none;
    }

    header nav .toggle-menu:hover + ul {
        display: flex;
        padding-left: 0;
        flex-direction: column;
        position:absolute;
        top:100%;
        left: 0;
        width: 100%;
        background-color: rgb(0 0 0 / 50%);

    }

    header nav .toggle-menu:hover + ul li a {
        padding: 15px !important;
    }
    
}


header nav ul li a {
    display: block;
    color: white;
    font-size:14px;
    padding: 40px 10px;
    transition: .3s;
    text-decoration: none;
    position: relative;
    z-index: 3;
}

header nav ul li a:hover {
    margin-top: -5px;
}

header nav ul li a.active,
header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color)  ;
}


header nav .form {
    width:40px;
    height: 30px;
    position: relative;
    border-left: 1px solid #a2a2a2;
    margin-left: 10px;


}

header nav .form i {
    color: white;
    position:absolute;
    top:50%;
    transform: translate(-50%,-50%);
    right: 0;


}

/* End header */

/* Start Landing */
.landing {
    min-height: 100vh;
    background-image: url("https://images.pexels.com/photos/3589669/pexels-photo-3589669.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1.jpeg");
    background-size: cover;
    position: relative;
}

.landing .overly {
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.landing .text {
    position:absolute;
    display: flex;
    justify-content: flex-end;
    left: 0;
    top:50%;
    transform: translateY(-50%);
    width: 50%;
    padding:50px;
    color:white;
    background-color: var(--transparent-color);
}

@media (max-width:767px) {
    .landing .text {
        width: 100%;
    }

    .landing .text .content {
        max-width: 100%;
    }
    
}

.landing .text .content {
    max-width: 500px;


}

.landing .text h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;

}

.landing .text p {
    font-size: 14px;
    line-height: 2;

}

.landing .change-background {
    color: white;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
}

@media (max-width:767px) {
    .landing .change-background {
        display: none;
    }
}

.landing .fa-angle-left {
   left:30px;
}

.landing .fa-angle-right {
    right: 30px;
}

.landing .bullets {
    color:white;
    position:absolute;
    left:50%;
    transform: translatex(-50%);
    bottom: 30px;
    display: flex;
}


.landing .bullets li {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 10px;
    margin-right: 10px;

}

.landing .bullets li.active,
.landing .bullets li:hover

{
    background-color: var(--main-color);
    border-color: var(--main-color)
}


/* End Landing */

/* Start Services */ 

.Services {
    padding-bottom: 100px;

}
@media (min-width:768px) {
    .Services .Services-container {
        display: grid;
        grid-column-gap:40px;
        grid-row-gap: 60px;
        grid-template-columns: repeat(auto-fill, minmax(450px,1fr));
    }

    
}




.Services .srv-box {
    display: flex;

}

.Services .srv-box i {
    margin-right: 50px;
    translate:.3s;
    
}

.Services .srv-box i:hover {
    color:var(--main-color);
    transform:  scale(1.2);



}


@media (max-width:767px) {
    .Services .srv-box {
        text-align: center;
        flex-direction: column;
    }
    
    .Services .srv-box i {
        margin: 20px;
    }
    
}
.Services .srv-box .text h3{
    margin-bottom: 30px;
    color: var(--main-color)
}

.Services .srv-box .text p{
    line-height: 2;
    color: #777;
    
}






/*
.Services{
    padding-bottom: 100px;
   
}

.Services .container {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: auto auto;

}

.Services .ser{
    position: relative;
    display: flex;
}

.Services .ser .icon {
    width:20%;

    font-size: 40px;
 
}

.Services .ser .text{
    width: 80%;

}


.Services .ser .text h2 {
    color: var(--main-color);
    margin-bottom: 20px;
    font-weight: normal;


}

.Services .ser .text p {
    color: #a8a8a8;
    font-weight: normal;
    line-height: 2;


}
*/

/* End Services */

/* Start Desinge */
.desinge {
    padding-top: 100px;
    padding-bottom: 100px;
    height: 600px;
    background-image: url("https://images.pexels.com/photos/8438918/pexels-photo-8438918.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1.jpeg");
    background-size: cover;
    align-items: center;
    display: flex;
    position: relative;
    overflow: hidden;
}

.desinge::before {
    content: "";
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);

}

.desinge .image {
    text-align: center;
}

@media (max-width:768px) {
    .desinge .image img {
        display: none;
    }



}

.desinge .image img {
    position: relative;
    height:120%;
    margin-top: 240px;


   
}


.desinge .image,
.desinge .text {
    position: relative;
    z-index: 2;
    flex:1;
}

.desinge .text {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);

}

.desinge .text h2 {
   font-weight: normal;
   text-transform: uppercase;
   margin-bottom: 40px;

}

.desinge .text ul li{
    position: relative;
    padding: 15px 0;

   
}

.desinge .text ul li:before{
    content: "\f108";
    position:absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;


}




/* End Desinge */

/* start portfolio */ 
.portfolio {
    padding-top:100px;
    padding-bottom: 100px;
}

.portfolio .shuffle {
    display: flex;
    justify-content: center;
}

.portfolio .shuffle  li {
   padding: 10px;
   margin:auto 10px;
   transition: .3s;

}
.portfolio .shuffle  li.active {
    background-color: var(--main-color);
    color:white;
}

.portfolio .shuffle  li:hover {
    background-color: var(--main-color);
    color:white;    
 }

.portfolio .img-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;

}

.portfolio .img-container .box{
    position: relative;
    overflow: hidden;
    
}
.portfolio .img-container .box:hover .caption {
    bottom: 0;

}

.portfolio .img-container .box:hover img {
    transform: rotate(3deg) scale(1.1);

}


@media (min-width:768px) {

    .portfolio .img-container .box{
        flex-basis: 50%;
        
    }
    
}

@media (min-width:1119px) {

    .portfolio .img-container .box{
        flex-basis: 25%;
        
    }
    
}



.portfolio .img-container .box img{
    transition: 0.3s;
    max-width:100%;
   
}

.portfolio .img-container .box .caption{
    background-color: white;
    position:absolute;
    bottom: -100%;
    width:100%;
    text-align: left;
    padding:20px;
    transition: 0.3s;
}

.portfolio .img-container .box .caption h4{
    color:#353235;
    font-weight: normal;
    margin-bottom: 10px;

}

.portfolio .img-container .box .caption p{
    color: var(--main-color);
    font-weight: normal;
    line-height: 1.5;

}

.portfolio .more {
    color: white;
    background-color: var(--main-color);
    text-align: center;
    width:120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 100;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    
}



/* end portfolio */ 

/* Start video */ 

.video {
    position: relative;
}

.video::before {
    content: "";
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.video video {
    width:100%;

}

.video .text {
    width: 100%;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    padding:50px;
    background-color: var(--transparent-color);
    text-align: center;

}

.video .text h2 {
    color:white;
    font-weight: normal;
    margin-bottom: 30px;
    
}

.video .text p {
    color:white;
    margin-bottom: 30px;

    
}

.video .text  button{
    background-color: #353235;
    color:white;
    border: none;
    padding:10px 40px;
    letter-spacing: 2;

    
}

/* End video */


/* Start About */
.about {
    padding-top:100px;
    overflow: hidden;
    text-align: center;
}

.about img {
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;

}

@media (max-width:767px) {
    .about img {
       
        bottom: -60px;
        margin-top: -60px;
     
    
    }
}

/* End About */

/* Start stats */ 
.stats {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    position: relative;
    background-size: cover;
    background-image: url("https://images.pexels.com/photos/8438918/pexels-photo-8438918.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1.jpeg");
}

.stats::before {
    content: "";
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);

}

.stats .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--transparent-color);


}



.stats  .box {
    padding: 50px;
    color:white;

}

@media (max-width:767px) {
    .stats .container .box {
        flex-basis: 100%;
    }
}

@media (min-width:767px) {
    .stats .container .box {
        flex-basis: 50%;
    }
}

@media (min-width:992px) {
    .stats .container .box {
        flex-basis: 25%;
    }
}

.stats  .box i {
    font-size: 30px;
    width:70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: 0 auto 30px;
    border-radius: 50%;
    transition: .3s;


}

.stats .box i:hover {
    background-color: white;
    color:#0c5366;
    transform: rotate(360deg) scale(1.2);

}


.stats  .box .number {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px;
}

.stats  .box p {
    font-weight: 100;
    letter-spacing: 5;

    
}


/* End stats */ 


/* Start our-skills */ 
.our-skills  {
    padding-top: 100px;
    padding-bottom: 100px;

}

.our-skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap ;
    
}

@media (min-width:992px) {
    .our-skills .container > div {
        flex-basis: 45%;

    
    }

}

.our-skills .container > div > h3 {
    margin: 0 0 30px;
    font-weight: normal;
    text-align: center;
 
}

.our-skills .container > div > p {
    color:#777;
    line-height: 2;
    text-align: center;
    margin-bottom: 60px;
 
}

.our-skills .container .test .content {
    display: flex;
    margin-bottom: 20px;
    align-items: center;

}

.our-skills .container .test .content img {
    width:100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 50px;

    

}

@media (max-width:767px) {
    .our-skills .container .test .content {
        flex-direction: column;
        text-align: center;
    }

    .our-skills .container .test .content img {
        margin: 0 auto 20px;
    }
    

}

.our-skills .container .test .text {
    border-bottom: 1px solid #ccc;
    line-height: 1.8;

}
.our-skills .container .test .text p {
    color: #777;
    text-align: right;
    font-size: 14px;
    margin-bottom: 10px;

    
}

.our-skills .container .test ul {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.our-skills .container .test ul li {
    margin:5px;
    
    width:10px;
    height: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.our-skills .container .test ul li.active {
   border-color: var(--main-color);
   background-color: var(--main-color);
}


.our-skills .skills .prog-holder {
    margin-bottom: 40px;


}

.our-skills .skills .prog-holder h4 {
    margin-bottom: 15px;
    font-weight: normal;
    text-transform: uppercase;

    
}

.our-skills .skills .prog-holder .prog{
    background-color: #dedadc;
    height: 30px;

    
}

.our-skills .skills .prog-holder .prog span{
  display: block;
  background-color: var(--main-color);
  height: 100%;
  position: relative;
  
    
}

.our-skills .skills .prog-holder .prog span::before{
    content: attr(data-progress);
    display: flex;
    color:white;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    position:absolute;
    background-color: #1f2021;
    width:30px;
    height: 20px;
    right: -15px;
    top:-30px;

    
}

.our-skills .skills .prog-holder .prog span::after{
    content: "";
    position: absolute;
    border-color: #1f2021 transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    right: -10;
    top:-15;

}
/* End our-skills */ 


/* start qoute */
.qoute {
    padding-top: 100px;
    padding-bottom:100px;
    background-image: url("https://images.pexels.com/photos/957312/chess-checkmated-chess-pieces-black-white-957312.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1.jpeg");
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;

}

.qoute::before {
    content: "";
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);

}

.qoute .container {
    position: relative;
}

.qoute q{
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
}


/* end qoute */

/* start pricing */


/* this is css for grid */ 

.Pricing {
    padding-top:100px;
    padding-bottom: 100px;
}

.Pricing  .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 30px;
    color: #353235;
}

.Pricing  .plans .plan {
    background-color: #fcfcfc;
    text-align: center;
}

.Pricing  .plans .plan .head {
    padding: 40px 20px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color)

}

.Pricing  .plans .plan .head h3{
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.Pricing  .plans .plan .head span{
    font-size: 60px;
    font-weight: bold;

}

.Pricing  .plans .plan .head span::before{
    content: "$";
    position:relative;
    font-size:20px;
    top:-40;
    left: -10;
    font-weight: normal;
}

.Pricing  .plans .plan .head span::after{
    content: "/Mo";
    position:relative;
    font-size:25;
    right: -10;
}

.Pricing  .plans .plan ul {
    border-bottom: 1px solid var(--main-color);

}

.Pricing  .plans .plan ul li {
    padding:20px;

}

.Pricing  .plans .plan ul li:not(:last-child) {
    content:"";
    position: relative;
}

.Pricing  .plans .plan ul li:not(:last-child)::after {
    content:"";
    width:120px;
    height: 1px;
    background-color: var(--main-color);
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;

}

.Pricing  .plans .plan .foot a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    border: 1px solid var(--main-color);
    margin: 30px auto;
    width: fit-content;
    color:#353235;
    transition: .3s;

}
.Pricing  .plans .plan .foot a:hover {
    background-color: var(--main-color);
    color:white;
    border-radius: 5px;


}


.Pricing .contact-text {
    text-align: center;
    font-size: 20px;
}

.Pricing .contact-link {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    margin: 20px auto;
    text-align: center;
    color:white;
    width: fit-content;
    transition: .3s;

}

.Pricing .contact-link:hover {
    background-color: white;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 5px;


}







/*

this is css for flex.

.pricing {
    padding-top: 100px;
    padding-bottom: 100px;

}

.pricing .packej {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    color:#353235;
    text-align: center;
    
}
/*
@media (min-width:767px) {
    .pricing .packej .pack {
        width:100%;
    }

    
    .pricing .packej .pack .number::before,.pricing .packej .pack .number::after {
    content: "";
    display: none;
   
    } 

    .pricing .packej .pack p:last-of-type:after {
        display: none;
    }

    .pricing .packej .pack .number  h2::before{
        display: none;
    }

    .pricing .packej .pack .number  h2::after{
        display: none;
    }

    
    .pricing .packej .pack button {
        position: relative;
        margin-bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        
 
    

}
}
*******************************]



@media (max-width:1200px) {
    .pricing .packej .pack {
        width:50%;
    }
    
     
    .pricing .packej .pack .number::before,.pricing .packej .pack .number::after {
        content: "";
        display: none;
       
        } 
    
        .pricing .packej .pack p:last-of-type:after {
            display: none;
        }
    
        .pricing .packej .pack .number  h2::before{
            display: none;
        }
    
        .pricing .packej .pack .number  h2::after{
            display: none;
        }
    
        
        .pricing .packej .pack button {
            position: relative;
            margin-bottom: 50px;
            left: 50%;
            transform: translateX(-50%);
            
     
        
    
    }
}
.pricing .packej .pack {
    position: relative;
}

.pricing .packej .pack .number h4{
    font-weight: normal;
    margin-bottom: 20px;
    
}

.pricing .packej .pack .number {
    margin-bottom: 50px;
    position: relative;
}

.pricing .packej .pack .number::before {
    content: "";
    position: absolute;
    border: 1px solid var(--main-color);
    width:300px;
    top: -20;
    left: -90;

}

.pricing .packej .pack .number::after {
    content: "";
    position: absolute;
    border: 1px solid var(--main-color);
    width:300px;
    bottom: -20;
    left: -90;


}

.pricing .packej .pack .number  h2{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
   
}

.pricing .packej .pack .number  h2::before{
    content: "$";
    position: absolute;
    left: 0;
    font-size: 15px;
    top:0;
    font-weight: normal;


}

.pricing .packej .pack .number h2::after{
    content: "/mo";
    position: absolute;
    font-weight: normal;
    right: -20;
    font-size: 15px;
    bottom:0;

}

.pricing .packej .pack p {
    margin-bottom: 50px;




}


.pricing .packej .pack p:not(:last-of-type):after {
    content: "";
    position: absolute;
    border-bottom: 1px solid var(--main-color);
    width:100px;
    transform: translate(-100px,43px);

  
}

.pricing .packej .pack p:last-of-type:after {
    content: "";
    margin-bottom: 20px;
    position: absolute;
    border-bottom: 1px solid var(--main-color);
    width:300px;
    bottom:44 ;
    left: -90;

  
}

.pricing .packej .pack button {
    display: block;
    padding: 10px 20px;
    border: 1px solid var(--main-color);
    background-color: white;
    margin-top: 20px;
    text-align: center;
    

}

.pricing .text {
    text-align: center;
    margin-top: 80px;
    
}

.pricing .text p{

    font-size: 20px;
    margin-bottom: 20px;
    
}

.pricing .text button{
    color:white;
    background-color: var(--main-color);
    border: none;
    padding: 10px 20px;


    
}

*/



/* end pricing */ 

/* start subscribe */

/* with help osama elzero */

.subscribe {
    padding-top:100px;
    padding-bottom: 100px;
    background-image: url("https://images.pexels.com/photos/6335/man-coffee-cup-pen.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1/.jpeg");
    background-size: cover;
    position: relative;
}

.subscribe::before {
    content: "";
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);

}

.subscribe .container {
    display: flex;
    position: relative;
    align-items: center;


}

@media (max-width:991px) {
    .subscribe .container {
        flex-direction: column;

    
    }
    
}


.subscribe form {
    display: flex;
    position: relative;
    width:500px;
    max-width: 100%;

}

.subscribe form i{
    position:absolute;
    top:50%;
    color:white;
    transform: translateY(-50%);
    font-size: 25px;
    left: 25px;
    
}

.subscribe form input[type="email"] {
    border: 1px solid white;
    border-right: transparent;
    background: none;
    padding:20px 20px 20px 60px;
    caret-color: var(--main-color);
    width: calc(100%- 130px);
    
}

.subscribe form input[type="submit"] {
    width:130px;
    background-color: var(--main-color);
    color:white;
    border: 1px solid white;
    text-transform: uppercase;
    border-left: transparent;

    
}

.subscribe form input[type="submit"]:focus,
.subscribe form input[type="email"]:focus {
    outline:none;
}

.subscribe form ::placeholder {
    color: white;

}

.subscribe p {
    color:white;
    line-height: 2;
    margin-left:50px;


}

@media (max-width:991px) {
    .subscribe p {
        margin: 30px 0 0 ;



    
    }
    
}

/* my solve
.subscribe {
    padding-top:100px;
    padding-bottom: 100px;
    background-image: url("https://images.pexels.com/photos/6335/man-coffee-cup-pen.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1/.jpeg");
    background-size: cover;
    position: relative;
}

.subscribe::before {
    content: "";
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);

}
.subscribe .container {
    display: flex;
    flex-wrap: wrap;
    position: relative;

}

.subscribe .search {
    display: flex;
    border: 1px solid white;
    margin-right: 30px;
    position: relative;
    padding:20px;

}
.subscribe .search i {
    font-size: 20px;
    margin-right: 30px;
    
}

.subscribe .search p {
    font-weight: normal;
    text-transform: uppercase;
    
}
.subscribe .search span{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    position:absolute;
    right: 0;
    height: 100%;
    top:0;
    padding:  20px;
    text-align: center;
}

@media (max-width:768px) {
    .subscribe .search span {
        padding:  5px;


    }

    
}



.subscribe .search,.subscribe .text {
    flex: 1;
    color: white;
    

}


*/

/* end subscribe */

/* start contact-us */

.contact {
    padding-top:100px;
    padding-bottom: 100px;
}

.contact .content {
    display: flex;
    justify-content: space-between;
}

@media (max-width:767px) {
    .contact .content {
        flex-direction: column;
        text-align: center;
    }
    .contact .content .info {
        margin-bottom: 100px;
        order: -1;
        text-align: center;
    

    }

    .contact .content form input[type="submit"] {
        margin-right: auto;
    }

    .contact .content .info h4:nth-of-type(2){
        margin-top: 0px;
    
        
    }
}

.contact .content form {
    flex-basis: 70%;

}

.contact .content form .main-input{
    padding:20px;
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 30px;;
    width:100%;

}

.contact .content form .main-input:focus {
    outline: none;
}

.contact .content form textarea.main-input {
    height: 200px;

} 

.contact .content form input[type="submit"]{
    background-color: var(--main-color);
    color: white;
    border:none;
    padding:20px;
    display: flex;
    margin-left: auto;
    text-transform: uppercase;
    cursor: pointer;

}

.contact .content .info {
    color:#ccc;
    flex-basis: 25%;

}

.contact .content .info h4{
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: bold;
    text-transform: uppercase;
    
}

.contact .content .info .phone{
    display: block;
    color:#777;
    margin-bottom: 10px;
    
}

.contact .content .info h4:nth-of-type(2){
    margin-top: 80px;

    
}

.contact .content .info address {
    color:#777;
    line-height: 2;

}


/* end contact-us */ 

/* start footer */
.footer {
    padding-top:100px;
    padding-bottom: 100px;
    background-image: url("https://images.pexels.com/photos/8438918/pexels-photo-8438918.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1.jpeg");
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;


}
.footer::before {
    content: "";
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}

.footer .container {
    position: relative;
}
.footer img {
    height: 50px;
    margin-bottom: 20px;
}

.footer p:not(.copyrigth) {

    text-transform:uppercase;
    font-weight: normal;
    font-size: 20px;
    position: relative;
    border-bottom: 1px solid white;
    width: fit-content;
    margin: 20px auto;
    padding:20px;

    
}


 
    

    




.footer .copyrigth{
    margin-top: 20px;
    line-height: 2;
    letter-spacing: 1.5;
}



.footer .social-icons {
    margin-bottom: 20px;
    margin-top: 20px;

}

.footer .social-icons i {
    margin-left:10px;
    margin-right: 10px;


}


.footer .copyrigth span{
    color: var(--main-color)
}






/* end footer */







